---
- set_fact:
    label_selector_value: "zuul_cluster={{ zuul_cluster_name }},app={{ zuul_app_name }}"
    sched_selector_value: "zuul_cluster={{ zuul_cluster_name }},app={{ zuul_cluster_name }}-scheduler"
    pg_user_query: "[?metadata.name=='{{ pg_cluster_name }}-zuul-secret'].data"
    ssh_key_query: "[?metadata.name=='{{ sshsecretname }}'].data"

- name: lookup k8s secrets
  set_fact:
    secrets_lookup: "{{ lookup('k8s', api_version='v1', kind='Secret', namespace=namespace, label_selector=label_selector_value) }}"

- name: lookup cluster secret
  set_fact:
    zuul_pg_user: "{{ secrets_lookup | json_query(pg_user_query) }}"
    zuul_ssh_key: "{{ secrets_lookup | json_query(ssh_key_query) }}"

- name: lookup k8s postgres cr
  set_fact:
    pg_cr_lookup: "{{ lookup('k8s', api_version=pg_api_version, kind=pg_cr_kind, namespace=namespace, resource_name=pg_cluster_name) }}"

- name: lookup k8s zookeeper cr
  set_fact:
    zk_cr_lookup: "{{ lookup('k8s', api_version=zk_api_version, kind='ZookeeperCluster', namespace=namespace, resource_name=zk_cluster_name) }}"

- name: lookup scheduler pod
  set_fact:
    zuul_scheduler_pod: "{{ lookup('k8s', api_version='v1', kind='Pod', namespace=namespace, label_selector=sched_selector_value) }}"

- name: lookup k8s Zuul deployment
  set_fact:
    zuul_deployment_lookup: "{{ lookup('k8s', api_version='extensions/v1beta1', kind='Deployment', namespace=namespace, resource_name=zuul_cluster_name) }}"

- name: get currently deployed Zuul image name
  set_fact:
    current_deployed_image: "{{ zuul_deployment_lookup.spec.template.spec.containers['name'=='zuul'].image }}"
  when: zuul_deployment_lookup.spec is defined

- debug:
    msg: "Zuul Version has CHANGED to '{{ zuul_version }}' - Currently at {{ current_deployed_image }}"
  when: (current_deployed_image is defined) and (current_deployed_image != zuul_image_name)
